@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
@import url('/Food-Home/css/style.css.css');
*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family:'Urbanist', sans-serif ;
   width: 100%;
}

.general{
    max-width: 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    position:relative;
}
.ocultar{
    display:none;
}
@media (min-width:700px){
    .container-general{
        max-width: 1080px;
    }
 }

.header{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 9px;
    font-size: small;
    width: 100%;
    height: auto;
   margin-top: 2%;

}
@media(min-width:700px){
    h1{
       text-align: center;
    }  
        
    .lorem{
        text-align:center;
    }
}




.tittle-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-family:'Urbanist', sans-serif;
    height: 20%;
    width: 100%;
    margin: auto;
}
@media(min-width:700px){
    .foodHouse{
        font-size: 20px !important;
    }
}
.lorem{
    
    opacity: 30%;
  
    margin-top: 17px;
}


.nav-container{
    display: flex;
    flex-direction: row;
    align-content: center;
  
    
    justify-content:space-around;
}
.icono-container{
    
    display: flex;
    align-items: center;
    width:20%;
    
    flex-direction: column;
    border-radius: 20%;
   
    
    
        /* Sombra normal */
     box-shadow: 1px 1px 20px rgb(228, 221, 221);
      
    
   
}


.icono-text{
    font-size:15px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.icono{
    margin-top:15px;
    width: 40%;
    height: 40%;
} 


.container-img{
    
    display: flex;
    align-items: center;
    width:125px;
    height: 125px;
    border-radius: 20%;
    overflow: hidden;
    margin:5%;
    
  }
  @media(min-width:700px){
    .container-img{
       width: 180px;
       height: 180px;
    }

}


button{
   display: flex;
   justify-content: center;
   box-shadow: 2px 2px 20px rgb(197, 189, 189);
    width: 30px;
    border: none;
    color: black;
    background-color: white;
    
}

.contador{
    display: flex;
    flex-direction:row ;
    justify-content:end;
    margin-left: 20px;
  
}
.caja-contador{
    display: flex;
    align-items: center;
}
.input-contador{
    width: 30px;
    height: 25px;
    justify-content: center;
    box-shadow: 2px 2px 20px rgb(214, 214, 224);
    border: none;
    background-color: rgb(240, 231, 231);
    text-align: center;


}

  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
  .cestaCompra{
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px !important;
    background-color: orangered !important;
    position: relative !important;
    left: 45% !important;
    box-shadow: 5px 5px 10px rgb(63 60 60) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .totalItems{
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(63 60 60);
    color: black;
    border-radius: 50px;
    position: absolute;
    bottom: 13%;
    left: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700; 

}

 

    @media(min-width:700px){
        .cestaCompra{
            height: 75px !important;
            width: 75px !important;
            top: 5rem !important;
                
         }
         .imgcesta{
             height: 45px !important;
             width: 45px !important;
         }
     }
        

  .imgcesta{
    height: 30px;
    width: 30px;
    z-index: 1;
  }
footer{
      display: flex;
      flex-direction: row;
     align-items: baseline;
     margin-bottom: 10%;
     padding-top: 5%;
      
  }
  .icono-footer1{
      height:60%;
      width: 12%;
   
  }   
      
  
  .icono-footer2{
    height:60%;
      width: 12%;
   
  }
  .icono-footer3{
    height:60%;
      width: 12%;
    
    
}
.icono-footer4{
    height:60%;
    width: 12%;
}
.contenedor-iconos-uno{
display: flex;
height: auto;

justify-content:space-evenly;


}
.contenedor-iconos-dos{
    display: flex;
    height: auto;
   
   justify-content:space-evenly;

}

button:hover{
    opacity: 50%;
  scale: 0.5;  
    transition: 0,4s;
}