.movil2-bloqueado {
  display: none !important;
  max-width: 1080px;
  box-shadow: inset 75px 0px 100px 0 #00000017;
}

@media (min-width: 700px) {
  .main_movil1 {
    flex-direction: row !important;
  }
  .main_movil1 .containerFood {
    flex-direction: column !important;
  }
  .main_movil1 .box-foto {
    width: 70% !important;
  }
  .main_movil1 .img-fluid {
    height: 12rem !important;
  }
  .main_movil1 .info-contador {
    width: 15rem !important;
    height: 7rem !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .main_movil1 .info_food {
    background-color: white;
    height: 7rem !important;
    padding-left: 10%;
    width: 15rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
  .main_movil1 .precio_food {
    font-size: 25px !important;
  }
  .main_movil1 .name_food {
    font-size: 23px !important;
  }

  .main_movil2 {
    flex-direction: column !important;
    width: 100% !important;
    height: 60% !important;
    display: flex !important;
    padding-top: 5% !important;
  }
  .main_movil2 h4 {
    text-align: center !important;
    font-size: 40px !important;
  }
  .main_movil2 .containerPlatos {
    flex-direction: row;
  }
  .main_movil2 .containerFood {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    justify-content: space-evenly;
    padding-top: 2%;
    align-items: center;
  }
  .main_movil2 .box-foto {
    width: 50%;
    height: 10rem;
    border-radius: 40%;
    padding: 2%;
  }
  .main_movil2 img {
    height: 150px !important;
  }
  .main_movil2 .info_food {
    background-color: white;
    height: 7rem !important;
    padding-left: 10%;
    width: 15rem !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
  .main_movil2 .precio_food {
    font-size: 25px !important;
  }
  .main_movil2 .name_food {
    font-size: 23px !important;
  }

  .cta {
    margin-top: 15%;
    height: 20rem !important;
  }

  .texto_resumen {
    font-size: 25px !important;
  }

  .price_resumen {
    font-size: 24px !important;
  }
  .price_resumen .price_total {
    font-size: 25px !important;
  }

  .enviar {
    border-radius: 25px !important;
  }

  h6 {
    font-size: 25px !important;
  }
}
header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header div {
  width: 9%;
  height: 9%;
  padding-top: 5%;
}
header .iconHeader {
  width: 100%;
  height: 100%;
  border-style: none;
  background-color: #80808021;
  border-radius: 20%;
}
header svg {
  width: 80%;
  height: 100%;
  border-radius: 20%;
}

main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}
main .main_movil2 {
  flex-direction: row !important;
}
main h4 {
  padding-bottom: 2%;
}
main .containerPlatos {
  display: flex !important;
  flex-direction: column;
}
main .containerFood {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  justify-content: space-evenly;
  padding-top: 2%;
  align-items: center;
}
main .box-foto {
  width: 40%;
  border-radius: 40%;
  padding: 2%;
}
main img {
  height: 120px !important;
  border-radius: 20%;
}
main .info-contador {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
main .info_food {
  background-color: white;
  height: 55%;
  padding-left: 10%;
}
main .precio_food {
  font-size: 15px !important;
  height: 0%;
  font-weight: bold;
  color: orangered;
  margin-top: 0;
}
main span {
  font-size: 10px;
}
main .name_food {
  font-size: 15px !important;
  height: 20%;
  font-weight: bold;
  color: black;
  margin-top: 2%;
}
main .description_food {
  font-size: 12px !important;
  font-weight: bold;
  color: black;
  opacity: 0.4;
  margin-top: 0%;
}
main .contador_food {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 45%;
  align-items: center;
  justify-content: center;
  padding-right: 15%;
}
main .num_contador {
  width: 30px;
  height: 25px;
  justify-content: center;
  box-shadow: 2px 2px 20px #d6d6e0;
  border: none;
  background-color: #f0e7e7;
  cursor: pointer;
  text-align: center;
}
main .restar {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 20px #c5bdbd;
  width: 30px;
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
}
main .sumar {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 20px #c5bdbd;
  width: 30px;
  border: none;
  color: black;
  background-color: white;
}

@media (min-width: 700px) {
  footer {
    padding-top: 10% !important;
  }
}
.cta {
  background-color: orangered;
  width: 100%;
  height: 12rem;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cta .resumen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 5%;
}
.cta .texto_resumen {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  font-size: 13px;
  color: #ffffff87;
}
.cta .price_resumen {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  font-size: 12px;
  text-align: end;
  color: white;
}
.cta .price_total {
  font-size: 13px;
}
.cta p {
  height: auto;
  margin-bottom: 0 !important;
}
.cta .enviar {
  width: 80% !important;
  height: 20%;
  display: flex;
  align-items: center;
  border-radius: 10px !important;
  margin-top: 3%;
  box-shadow: none !important;
}
.cta h6 {
  font-size: 20px !important;
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=style.css.css.map */
