@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');
*{
   margin: auto; 
   padding: 0;
   box-sizing: border-box;
   font-family:'Urbanist', sans-serif ;
}
.container-general{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    

}

.container-header{
    display: flex;
    flex-direction: column;
    padding: 9px;
    background-color: chocolate;
    font-size: small;

}
.tittle-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-family:'Urbanist', sans-serif;
}
.iconoMenu{
    width: 20px;
    height: 20px;
    
    margin-left: 250px;
}
.container-iconos{
    display: flex;
    flex-direction: row;
    background-color: cyan;
   
}
.icono-breakfast{
    width: 40px;
    height: 40px;  
}
.icono-fastFood{
    width: 40px;
    height: 40px;  
} 
.icono-dinner{
    width: 40px;
    height: 40px;   
}
.container-fotos-comida{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: chartreuse;
}
.container-food{
display: flex;
flex-direction: column;
justify-content: space-around;
background-color: crimson;
}
.box-foto-food{
    width: 60%;
    height: 60%;
    margin-top: 5%;
    

}

.imgfood{
    width: 100%;
    height: 100%;
}
.info-contador{
    width: 40%;
    height: 60%;
    background-color:blueviolet;
}